<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Part 3: Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

In [1]:
import pandas as pd
import numpy as np
dfSX=pd.read_csv('Spacex.csv')
dfSX.head(10)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt
5,29-09-2013,16:00:00,F9 v1.1 B1003,VAFB SLC-4E,CASSIOPE,500,Polar LEO,MDA,Success,Uncontrolled (ocean)
6,03-12-2013,22:41:00,F9 v1.1,CCAFS LC-40,SES-8,3170,GTO,SES,Success,No attempt
7,06-01-2014,22:06:00,F9 v1.1,CCAFS LC-40,Thaicom 6,3325,GTO,Thaicom,Success,No attempt
8,18-04-2014,19:25:00,F9 v1.1,CCAFS LC-40,SpaceX CRS-3,2296,LEO (ISS),NASA (CRS),Success,Controlled (ocean)
9,14-07-2014,15:15:00,F9 v1.1,CCAFS LC-40,OG2 Mission 1 6 Orbcomm-OG2 satellites,1316,LEO,Orbcomm,Success,Controlled (ocean)

In [20]:
dfSX.dtypes

Date                 object
Time (UTC)           object
Booster_Version      object
Launch_Site          object
Payload              object
PAYLOAD_MASS__KG_     int64
Orbit                object
Customer             object
Mission_Outcome      object
Landing _Outcome     object
dtype: object

In [2]:
dfSXmy=pd.read_csv('spacex_web_scraped.csv')
dfSXmy.head(10)

,Flight No.,Launch site,Payload,Payload mass,Orbit,Customer,Launch outcome,Version Booster,Booster landing,Date,Time
0,1,CCAFS,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success\n,F9 v1.0B0003.1,Failure,4 June 2010,18:45
1,2,CCAFS,Dragon,0,LEO,NASA,Success,F9 v1.0B0004.1,Failure,8 December 2010,15:43
2,3,CCAFS,Dragon,525 kg,LEO,NASA,Success,F9 v1.0B0005.1,No attempt\n,22 May 2012,07:44
3,4,CCAFS,SpaceX CRS-1,"4,700 kg",LEO,NASA,Success\n,F9 v1.0B0006.1,No attempt,8 October 2012,00:35
4,5,CCAFS,SpaceX CRS-2,"4,877 kg",LEO,NASA,Success\n,F9 v1.0B0007.1,No attempt\n,1 March 2013,15:10
5,6,VAFB,CASSIOPE,500 kg,Polar orbit,MDA,Success,F9 v1.1B1003,Uncontrolled,29 September 2013,16:00
6,7,CCAFS,SES-8,"3,170 kg",GTO,SES,Success,F9 v1.1,No attempt,3 December 2013,22:41
7,8,CCAFS,Thaicom 6,"3,325 kg",GTO,Thaicom,Success,F9 v1.1,No attempt,6 January 2014,22:06
8,9,Cape Canaveral,SpaceX CRS-3,"2,296 kg",LEO,NASA,Success\n,F9 v1.1,Controlled,18 April 2014,19:25
9,10,Cape Canaveral,Orbcomm-OG2,"1,316 kg",LEO,Orbcomm,Success,F9 v1.1,Controlled,14 July 2014,15:15

In [4]:
dfSXmy['Launch outcome'] = dfSXmy['Launch outcome'].map(lambda x: x.rstrip('\n'))
dfSXmy['Payload mass'] = dfSXmy['Payload mass'].map(lambda x: x.rstrip(' kg'))
dfSXmy.head(10)

,Flight No.,Launch site,Payload,Payload mass,Orbit,Customer,Launch outcome,Version Booster,Booster landing,Date,Time
0,1,CCAFS,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,F9 v1.0B0003.1,Failure,4 June 2010,18:45
1,2,CCAFS,Dragon,0,LEO,NASA,Success,F9 v1.0B0004.1,Failure,8 December 2010,15:43
2,3,CCAFS,Dragon,525,LEO,NASA,Success,F9 v1.0B0005.1,No attempt\n,22 May 2012,07:44
3,4,CCAFS,SpaceX CRS-1,"4,700",LEO,NASA,Success,F9 v1.0B0006.1,No attempt,8 October 2012,00:35
4,5,CCAFS,SpaceX CRS-2,"4,877",LEO,NASA,Success,F9 v1.0B0007.1,No attempt\n,1 March 2013,15:10
5,6,VAFB,CASSIOPE,500,Polar orbit,MDA,Success,F9 v1.1B1003,Uncontrolled,29 September 2013,16:00
6,7,CCAFS,SES-8,"3,170",GTO,SES,Success,F9 v1.1,No attempt,3 December 2013,22:41
7,8,CCAFS,Thaicom 6,"3,325",GTO,Thaicom,Success,F9 v1.1,No attempt,6 January 2014,22:06
8,9,Cape Canaveral,SpaceX CRS-3,"2,296",LEO,NASA,Success,F9 v1.1,Controlled,18 April 2014,19:25
9,10,Cape Canaveral,Orbcomm-OG2,"1,316",LEO,Orbcomm,Success,F9 v1.1,Controlled,14 July 2014,15:15

In [6]:
dfSXmy.dtypes

Flight No.          int64
Launch site        object
Payload            object
Payload mass       object
Orbit              object
Customer           object
Launch outcome     object
Version Booster    object
Booster landing    object
Date               object
Time               object
dtype: object

In [10]:
dfSXmy['Date']=pd.to_datetime(dfSXmy['Date'])

In [19]:
dfSXmy['Payload mass']=dfSXmy['Payload mass'].astype(str)
dfSXmy['Payload mass']=dfSXmy['Payload mass'].replace(',','') #didn't work

dfSXmy.head(10)

,Flight No.,Launch site,Payload,Payload mass,Orbit,Customer,Launch outcome,Version Booster,Booster landing,Date,Time
0,1,CCAFS,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,F9 v1.0B0003.1,Failure,2010-06-04,18:45
1,2,CCAFS,Dragon,0,LEO,NASA,Success,F9 v1.0B0004.1,Failure,2010-12-08,15:43
2,3,CCAFS,Dragon,525,LEO,NASA,Success,F9 v1.0B0005.1,No attempt\n,2012-05-22,07:44
3,4,CCAFS,SpaceX CRS-1,"4,700",LEO,NASA,Success,F9 v1.0B0006.1,No attempt,2012-10-08,00:35
4,5,CCAFS,SpaceX CRS-2,"4,877",LEO,NASA,Success,F9 v1.0B0007.1,No attempt\n,2013-03-01,15:10
5,6,VAFB,CASSIOPE,500,Polar orbit,MDA,Success,F9 v1.1B1003,Uncontrolled,2013-09-29,16:00
6,7,CCAFS,SES-8,"3,170",GTO,SES,Success,F9 v1.1,No attempt,2013-12-03,22:41
7,8,CCAFS,Thaicom 6,"3,325",GTO,Thaicom,Success,F9 v1.1,No attempt,2014-01-06,22:06
8,9,Cape Canaveral,SpaceX CRS-3,"2,296",LEO,NASA,Success,F9 v1.1,Controlled,2014-04-18,19:25
9,10,Cape Canaveral,Orbcomm-OG2,"1,316",LEO,Orbcomm,Success,F9 v1.1,Controlled,2014-07-14,15:15

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [ ]:
#!pip install sqlalchemy==1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [21]:
%load_ext sql

In [22]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
#!pip install -q pandas==1.1.5

In [23]:
%sql sqlite:///my_data1.db

In [24]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

C:\Python\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [25]:
# type in your query to retrieve list of all tables in the database
%sql SELECT * FROM SPACEXTBL limit 5;

 * sqlite:///my_data1.db
Done.

[('04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('08-12-2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('22-05-2012', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('08-10-2012', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('01-03-2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
For Example "Landing_Outcome"**

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [29]:
%sql SELECT DISTINCT("Launch_Site") FROM SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [52]:
%sql SELECT * FROM SPACEXTBL WHERE "Launch_Site" LIKE '%CCA%' LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('08-12-2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('22-05-2012', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('08-10-2012', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('01-03-2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [40]:
%sql SELECT "Customer", SUM("PAYLOAD_MASS__KG_") AS "Total_Payload" FROM SPACEXTBL WHERE "Customer" LIKE 'NASA (CRS)';

 * sqlite:///my_data1.db
Done.

[('NASA (CRS)', 45596)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [178]:
%sql SELECT "Booster_Version", AVG("PAYLOAD_MASS__KG_") AS "Average_Payload" FROM SPACEXTBL \
WHERE "Booster_Version" LIKE 'F9 v1.1';

 * sqlite:///my_data1.db
Done.

[('F9 v1.1', 2928.4)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [177]:
#%sql SELECT "Date", `Landing _Outcome` FROM SPACEXTBL WHERE `Landing _Outcome` LIKE 'Success (ground pad)' and "Date" \
#LIKE '%2015%' ORDER BY "Date" DESC

In [175]:
# this code doesn't find minimum date:
#%sql SELECT "Date", `Landing _Outcome` FROM SPACEXTBL WHERE `Landing _Outcome` LIKE 'Success (ground pad)' \
#AND "Date"=(SELECT MIN("Date") FROM SPACEXTBL WHERE `Landing _Outcome` LIKE 'Success (ground pad)');

In [176]:
# !!! landing Outcome has space in the name, that's why it's mandatory to use `` and not "" or ''  !!!

%sql SELECT "Date", `Landing _Outcome` FROM SPACEXTBL WHERE `Landing _Outcome` LIKE 'Success%' ORDER BY date("Date") ASC LIMIT 1;

 * sqlite:///my_data1.db
Done.

[('22-12-2015', 'Success (ground pad)')]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [172]:
%sql SELECT "Booster_Version", "PAYLOAD_MASS__KG_", `Landing _Outcome` FROM SPACEXTBL WHERE "PAYLOAD_MASS__KG_">4000 \
AND "PAYLOAD_MASS__KG_"<6000 AND `Landing _Outcome` LIKE 'Success (drone ship)';

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022', 4696, 'Success (drone ship)'),
 ('F9 FT B1026', 4600, 'Success (drone ship)'),
 ('F9 FT  B1021.2', 5300, 'Success (drone ship)'),
 ('F9 FT  B1031.2', 5200, 'Success (drone ship)')]

### Task 7

##### List the total number of successful and failure mission outcomes

In [106]:
%sql SELECT "Mission_Outcome", COUNT("Mission_Outcome") AS "Total_number" FROM SPACEXTBL GROUP BY "Mission_Outcome";

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [171]:
%sql SELECT "Booster_Version", "PAYLOAD_MASS__KG_", `Landing _Outcome` FROM SPACEXTBL \
WHERE "PAYLOAD_MASS__KG_"=(SELECT MAX("PAYLOAD_MASS__KG_") FROM SPACEXTBL);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600, 'Success'),
 ('F9 B5 B1049.4', 15600, 'Success'),
 ('F9 B5 B1051.3', 15600, 'Success'),
 ('F9 B5 B1056.4', 15600, 'Failure'),
 ('F9 B5 B1048.5', 15600, 'Failure'),
 ('F9 B5 B1051.4', 15600, 'Success'),
 ('F9 B5 B1049.5', 15600, 'Success'),
 ('F9 B5 B1060.2 ', 15600, 'Success'),
 ('F9 B5 B1058.3 ', 15600, 'Success'),
 ('F9 B5 B1051.6', 15600, 'Success'),
 ('F9 B5 B1060.3', 15600, 'Success'),
 ('F9 B5 B1049.7 ', 15600, 'Success')]

### Task 9

##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [170]:
%sql SELECT "Date", "Booster_Version", "Launch_Site",  `Landing _Outcome` FROM SPACEXTBL WHERE `Landing _Outcome` \
LIKE 'Failure%' and "Date" LIKE '%2015%' ORDER BY date("Date") DESC

 * sqlite:///my_data1.db
Done.

[('10-01-2015', 'F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('14-04-2015', 'F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)')]

In [168]:
%sql SELECT "Date", substr("Date",4,2) AS "Month" , "Booster_Version", "Launch_Site",  `Landing _Outcome` FROM SPACEXTBL \
WHERE `Landing _Outcome` LIKE 'Failure%' and substr("Date",7,4) LIKE '2015' ORDER BY date("Date") DESC

 * sqlite:///my_data1.db
Done.

[('10-01-2015', '01', 'F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('14-04-2015', '04', 'F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)')]

### Task 10

##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [162]:
#Successful outcomes:
%sql SELECT `Landing _Outcome`, COUNT(`Landing _Outcome`) AS "Count" FROM SPACEXTBL WHERE `Landing _Outcome` LIKE 'Success%' \
AND substr("Date",1,2)||substr("Date",4,2)||substr("Date",7,4) BETWEEN '04062010' AND '20032017' GROUP BY `Landing _Outcome` \
ORDER BY "Count" DESC;

 * sqlite:///my_data1.db
Done.

[('Success', 20), ('Success (drone ship)', 8), ('Success (ground pad)', 6)]

In [163]:
#Unsuccessful outcomes:
%sql SELECT `Landing _Outcome`, COUNT(`Landing _Outcome`) AS "Count" FROM SPACEXTBL WHERE `Landing _Outcome` LIKE 'Failure%' \
AND substr("Date",1,2)||substr("Date",4,2)||substr("Date",7,4) BETWEEN '04062010' AND '20032017' GROUP BY `Landing _Outcome` \
ORDER BY "Count" DESC;

 * sqlite:///my_data1.db
Done.

[('Failure (drone ship)', 4), ('Failure', 3), ('Failure (parachute)', 2)]

#####  Other queries:

In [121]:
%sql SELECT MIN("PAYLOAD_MASS__KG_") FROM SPACEXTBL

 * sqlite:///my_data1.db
Done.

[(0,)]

In [122]:
%sql SELECT MAX("Date") FROM SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('31-01-2018',)]

In [164]:
%sql SELECT COUNT(`Landing _Outcome`) FROM SPACEXTBL WHERE `Landing _Outcome` LIKE 'Success%' AND substr("Date",1,2)||substr("Date",4,2)||substr("Date",7,4) BETWEEN '04062010' AND '20032017';

 * sqlite:///my_data1.db
Done.

[(34,)]

In [165]:
%sql SELECT `Landing _Outcome`,"Date" FROM SPACEXTBL WHERE `Landing _Outcome` LIKE 'Success%' AND substr("Date",1,2)||substr("Date",4,2)||substr("Date",7,4) BETWEEN '04062010' AND '20032017' ORDER BY date("Date") DESC;
#dates don't want to descend

 * sqlite:///my_data1.db
Done.

[('Success (drone ship)', '08-04-2016'),
 ('Success (drone ship)', '06-05-2016'),
 ('Success (ground pad)', '18-07-2016'),
 ('Success (drone ship)', '14-08-2016'),
 ('Success (drone ship)', '14-01-2017'),
 ('Success (ground pad)', '19-02-2017'),
 ('Success (ground pad)', '14-08-2017'),
 ('Success (ground pad)', '07-09-2017'),
 ('Success (drone ship)', '09-10-2017'),
 ('Success (drone ship)', '11-10-2017'),
 ('Success (ground pad)', '15-12-2017'),
 ('Success (ground pad)', '08-01-2018'),
 ('Success (drone ship)', '18-04-2018'),
 ('Success (drone ship)', '11-05-2018'),
 ('Success', '07-08-2018'),
 ('Success', '10-09-2018'),
 ('Success', '08-10-2018'),
 ('Success', '15-11-2018'),
 ('Success', '11-01-2019'),
 ('Success', '12-06-2019'),
 ('Success', '11-11-2019'),
 ('Success', '05-12-2019'),
 ('Success', '17-12-2019'),
 ('Success', '07-01-2020'),
 ('Success', '07-03-2020'),
 ('Success', '04-06-2020'),
 ('Success', '13-06-2020'),
 ('Success', '07-08-2020'),
 ('Success', '18-08-2020'),
 ('Success', '06-10-2020'),
 ('Success', '18-10-2020'),
 ('Success', '05-11-2020'),
 ('Success', '16-11-2020'),
 ('Success', '06-12-2020')]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center">  IBM Corporation 2021. All rights reserved. <h3/>